*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(95deg ,#000000, #474746)!important;

}

.img-principal{
    border-radius: 5px 180px 25px 5px;
}

.img-secundaria{
    display: flex;
    margin: 0 auto !important;
}

.t-title {
  font-size: 4rem;
  font-weight: 900;
}

.p-texto {
  color: #fff;
  font-weight: 600;

}

.botão-passo {
  background-color: #474746 !important;
  border: none !important;
  padding: 10px !important;
  font-weight: 600 !important;
  transition: 300ms linear !important;
  box-shadow: 0.1px 1px 10px #fff;

}

.botão-passo:hover {
  background-color: #795300 !important;
  transform: scale(1.2);
  padding: 15px !important;
}

.lista {
  font-weight:800;
}

.WhatsApp {
  color: #ffffff;
  font-weight: 900;
}


/*-----------------------------------------------*/


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    align-items: center;
    perspective: 2500px;
    margin: 0 50px;
    background-color: transparent !important;
    border: solid 1px rgb(155, 155, 155) !important;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    filter:blur(500px);

  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;

  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
 
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }